body {
	font-family: "Permanent Marker", "Open Sans", sans-serif;
}
.page-header {
	text-align: center;
	border: none;
}
#start-section {
	margin-bottom: 20px;
}
.hide {
	display: none;
}
.show {
	display: block;
}
button {
	padding: 0;
	border: none;
	background: transparent;
}
.token-choice .row {
	margin-top: 10px;
}
#chat .panel-body {
	overflow-y: scroll;
	height: 200px;
}
.chat-user {
	font-size: 22px;
}
.chat-text {
	font-size: 20px;
	color: red;
}

@media (min-width: 400px) {
	h1 {
		font-size: 30px;
	}
	.chat-user {
		font-size: 18px;
	}
	.chat-text {
		font-size: 16px;
		color: red;
	}
	#chat button {
		font-size: 16px;
	}
}

@media (min-width: 440px) {
	h1 {
		font-size: 30px;
	}
	.chat-user {
		font-size: 18px;
	}
	.chat-text {
		font-size: 16px;
		color: red;
	}
	#chat button {
		font-size: 14px;
	}
}

@media (min-width: 500px) {
	h1 {
		font-size: 40px;
	}
	.chat-user {
		font-size: 20px;
	}
	.chat-text {
		font-size: 18px;
		color: red;
	}
}

@media (min-width: 630px) {
	h1 {
		font-size: 45px;
	}
	.chat-user {
		font-size: 20px;
	}
	.chat-text {
		font-size: 18px;
		color: red;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 50px;
	}
	.chat-user {
		font-size: 20px;
	}
	.chat-text {
		font-size: 18px;
		color: red;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 50px;
	}
	.chat-user {
		font-size: 22px;
	}
	.chat-text {
		font-size: 20px;
		color: red;
	}
}