body {
	font-family: "Permanent Marker", "Open Sans", sans-serif;
}
h1 {
	font-size: 50px;
}
.page-header {
	text-align: center;
	border: none;
}
#start-section {
	margin-bottom: 20px;
}
.hide {
	display: none;
}
.show {
	display: block;
}
button {
	padding: 0;
	border: none;
	background: transparent;
}
.token-choice .row {
	margin-top: 10px;

}
#chat .panel-body {
	overflow-y: scroll;
	height: 150px;
}
.chat-user {
	font-size: 25px;
}
.chat-text {
	font-size: 20px;
	color: red;
}
