.page-header {
	text-align: center;
	border: none;
}
#start-section {
	margin-bottom: 20px;
}
.hide {
	display: none;
}
.show {
	display: block;
}
button {
	padding: 0;
	border: none;
}
.token-choice .row {
	margin-top: 10px;

}